/*-- Reset-Code --*/

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus,
a:hover {
  text-decoration: none;
}
input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
div {
  margin: 0;
  padding: 0 !important;
}
label {
  margin: 0;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
img {
  width: 100%;
}

/*-- //Reset-Code --*/

/* Navbar */
header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  height: 78px !important;
  padding: 0px 70px;
}
.navbar-btn {
  height: 44px;
  width: 116px;
  color: #016b6f !important;
  font-weight: 500;
  font-size: 18px !;
  background-color: #fafafa !;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #016b6f;
}
.navbar-btn:hover {
  color: #fafafa !important;
  background-color: #016b6f !important;
}
.nav-itm {
  font-size: 20px;
  font-weight: 500;
  color: #016b6f;
  margin-right: 10px;
}

/* search */
.search-box {
  background-color: #016b6f;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 200px;
  padding: 0 6px;
}
.search-box:hover > .search-btn {
  background: #fafafa;
  color: #016b6f;
}
.search-btn {
  color: #fafafa;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #016b6f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
/* End search */

/* //Navbar */

/* Banner */
.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 66, 69, 0.2), rgba(0, 66, 66, 0.3)),
    url(../images/Banner\ Image.png);
  /* background-image: url(../images/Banner\ Image.png); */
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0 200px;
}

.banner-contain h1 {
  font-size: 4.5em;
  font-weight: bold;
  text-transform: capitalize;
  color: #fafafa;
  line-height: 1em;
}
.banner-contain p {
  margin: 1em 0 0;
  font-size: 1.125em;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5em;
  color: #fafafa;
  width: 70%;
  padding: 0.25em;
}
.banner-btn {
  display: inline-block;
  color: #016b6f;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  background-color: #fafafa;
  transition: 0.4s;
  margin: 4em 0.3em 0 0.3em;
  border: none;
  font-size: 1.125em;
  font-weight: normal;
}
.banner-btn:hover {
  background-color: #016b6f;
  color: #fafafa;
}
/* //Banner */

/* browseCourses */
.browseCourses {
  background-color: #f5f9f9;
  padding: 50px;
}
.browseCourses .course-head h1 {
  font-size: 38px;
  font-weight: 300;
  color: #016b6f;
  letter-spacing: 1.2;
  text-transform: capitalize;
  padding: 30px 0 15px;
  position: relative;
  margin-bottom: 30px;
}
.browseCourses .course-head span {
  font-size: 38px;
  font-weight: bold;
  color: #0e4e4e;
}
.browseCourses .course-head h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  background: rgb(1, 107, 111);
  background: linear-gradient(
    90deg,
    rgba(1, 107, 111, 1) 0%,
    rgb(255, 255, 255) 100%
  );
  height: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 220px;
}
.course-category .btn {
  font-size: 16px;
  color: #016b6f;
  border: 1px solid #016b6f;
  background-color: #fafafa;
  cursor: pointer;
  margin: 0 30px 30px 0;
}
.course-category .btn:hover {
  color: #fafafa;
  background-color: #016b6f;
}

.card {
  width: 242px;
  height: 371px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 10px;
  /* margin-right: 15px !important;
  margin-top: 15px !important; */
  background-color: none !important;
}
.card-body {
  padding: 15px !important;
}
.card .card-body .card-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #016b6f;
  margin-bottom: 30px;
}
.card-body .card-btn {
  font-size: 12px;
  color: #0e4e4e;
  border: 1px solid #016b6f !important;
  border-radius: 20px !important;
  margin-right: 8px;
  margin-bottom: 25px;
}
.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-container .card-price {
  font-size: 22px;
  font-weight: bold;
  color: #016b6f;
}
.price-btn {
  width: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: #016b6f;
  color: #fafafa;
}
.price-btn i {
  padding-top: 10px;
  color: #fafafa;
}

/* slick slider css */
.left_arrow {
  display: block;
}
.right_arrow {
  position: absolute;
  top: 42% !important;
  right: -28px !important;
  /* left: 0px !important;
  top: 190px !important; */
  font-size: 24px;
  height: 62px;
  width: 62px;
  background: #016b6f;
  color: #fafafa;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  line-height: 2.5;
  box-shadow: 0px 0px 2px 3px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.browseCourses .course-btn {
  margin-top: 50px;
}
.browseCourses .course-btn button {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #016b6f;
  background-color: #fafafa;
  border: 2px solid #016b6f;
}

/* slick slider css */

/* //browseCourses */

/* choice xplrme */
.choice-xplrm {
  background-color: #fafafa;
  padding: 100px 0;
  height: 700px;
  position: relative;
}
.choice-xplrm .contain {
  position: relative;
  width: 75%;
  height: 485px;
  background-color: #e4f4f3;
  box-shadow: rgb(0 0 0 / 25%) 15px 15px 15px, rgb(0 0 0 / 22%) 15px 15px 15px;
  margin-bottom: 50px;
  padding: 100px !important;
  text-align: right;
  float: right;
  margin-right: 30px;
}
.choice-xplrm .contain h1 {
  font-size: 48px;
  font-weight: 100;
  color: #016b6f;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  padding-bottom: 30px;
}
.choice-xplrm .contain h1 > span {
  font-weight: bold;
}
.choice-xplrm .contain h1::after {
  content: "";
  position: absolute;
  right: calc(10% - 10%);
  bottom: 0;
  background-color: #016b6f;
  height: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 250px;
}
.choice-xplrm .contain p {
  float: right !important;
  width: 75%;
  font-size: 22px;
  font-weight: 300;
  color: #016b6f;
  text-align: right !important;
}

.choice-xplrm .xplrm1 {
  position: absolute;
  left: 250px;
  top: -30px;
  height: 220px;
  width: 200px;
  padding: 15px 10px !important;
  background-color: #fafafa;
  color: #016b6f;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.choice-xplrm .xplrm1 .xplrm-icon i {
  color: #fafafa;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #016b6f;
  line-height: 45px;
  margin-bottom: 20px;
}
.choice-xplrm .xplrm3 {
  position: absolute;
  left: 250px;
  top: 470px;
  height: 220px;
  width: 200px;
  padding: 15px 10px !important;
  background-color: #fafafa;
  color: #016b6f;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.choice-xplrm .xplrm3 .xplrm-icon i {
  color: #fafafa;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #016b6f;
  line-height: 45px;
  margin-bottom: 20px;
}
.xplrm-1 .xplrm-3 p {
  font-size: 12px;
  color: #016b6f;
  font-weight: 300;
}
.choice-xplrm .xplrm2 {
  position: absolute;
  left: 250px;
  top: 220px;
  height: 220px;
  width: 200px;
  padding: 15px 10px !important;
  background-color: #016b6f;
  color: #fafafa;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.choice-xplrm .xplrm2 .xplrm-icon i {
  color: #016b6f;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fafafa;
  line-height: 45px;
  margin-bottom: 20px;
}
/* //choice xplrme  */

/* testimonials */
.testimonials {
  padding-top: 50px;
}
.testimonials-head h1 {
  font-size: 3em;
  font-weight: 300;
  color: #016b6f;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
.testimonials-head h1::after {
  content: "";
  position: absolute;
  left: calc(40% - 10%);
  bottom: 0;
  background-color: #016b6f;
  height: 6px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 180px;
}
.testimonials-head span {
  font-weight: bold;
}
.testimonials-item {
  background-color: #016b6f;
  padding-top: 50px !important;
  padding-bottom: 20px !important;
}
.testimonials .client-box {
  max-width: 80%;
  margin: 0 auto;
}
.testimonials .stars {
  font-size: 30px;
  color: #ffc007;
  margin-bottom: 60px;
}

.testimonials .client-box p {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #fafafa;
  margin-bottom: 15px;
}
.testimonials .client-box img {
  width: 52px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.testimonials .client-box h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
  color: #fafafa;
  text-transform: capitalize;
}
.testimonials .client-box span {
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
  color: #fafafa;
  text-transform: capitalize;
}

/* //testimonials */
/* provider */
.provider {
  background-color: #fafafa;
  padding-top: 100px;
  position: relative;
}
.provider .container {
}

.provider-image-1 {
  width: 75%;
  position: relative;
  float: left !important;
}

.provider-contain {
  width: 30%;
  position: absolute;
  top: 33%;
  right: 140px;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 2px rgb(0 0 0 / 20%);
}
.provider-dec {
  padding: 30px 80px !important;
}
.provider-dec p {
  font-size: 24px;
  font-weight: 100;
  color: #016b6f;
}
.provider-dec h1 {
  font-size: 42px;
  font-weight: 500;
  color: #016b6f;
}
.provider-dec button {
  font-size: 16px;
  font-weight: 300;
  color: #fafafa !important;
  background-color: #016b6f !important;
  margin-top: 30px;
  border: none;
}
.provider-dec button:hover {
  color: #016b6f;
  background-color: #fafafa;
}

/* provider */
/*-- Footer --*/
.footer {
  background-color: #016b6f;
  padding-top: 50px;
}
.footer-item h4 {
  font-size: 18px;
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: bold;
  position: relative;
}
.footer-item h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fafafa;
  height: 3px;
  box-sizing: border-box;
  border-radius: 1.5px;
  width: 46px;
}
.footer-item ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-item ul li a {
  font-size: 18px;
  text-transform: capitalize;
  color: #fafafa;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-item ul li a:hover {
  color: #fafafa;
  padding-left: 8px;
}

.footer .copyright-dec {
  padding-bottom: 10px !important;
}
.footer .copyright-dec p {
  font-size: 16px;
  text-transform: capitalize;
  color: #fafafa;
  font-weight: 300;
}
.footer .copyright-social {
  text-align: right !important;
  padding-bottom: 10px !important;
}
.footer .copyright-social ul li {
  display: inline-block;
}
.footer .copyright-social ul li a {
  font-size: 22px;
  margin-right: 10px;
  padding: 2px 9px;
  border-radius: 5px;
  background-color: #fafafa;
  color: #016b6f;
}
.footer .copyright-social ul li a:hover {
  color: #00b0b6;
}
.featurette-divider {
  color: #fafafa !important;
  margin-top: 70px;
}
/*-- //Footer End--*/

/* Responsive-Code */

@media screen and (max-width: 350px) {
  .provider-dec {
    padding: 0px 1px !important;
  }
  .provider-dec button {
    margin-top: 5px;
  }
  .provider-contain {
    width: 80%;
    position: absolute;
    top: 30%;
    left: 50px;
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    padding: 0px 10px !important;
  }
  .banner-contain p {
    width: 80%;
  }
  .provider-dec {
    padding: 2px 4px !important;
  }
  .provider-dec p {
    font-size: 12px;
  }
  .provider-dec h1 {
    font-size: 16px;
  }
  .provider-dec button {
    font-size: 12px;
  }
  .provider-dec button {
    margin-top: 5px;
  }

  .choice-xplrm .xplrm1 {
    left: 8px;
    top: -30px;
    height: 220px;
    width: 30%;
    padding: 5px 0px !important;
  }

  .choice-xplrm .xplrm3 {
    left: 8px;
    top: 470px;
    height: 220px;
    width: 30%;
    padding: 5px 0px !important;
  }

  .xplrm-1 .xplrm-3 p {
    font-size: 0px;
  }
  .choice-xplrm .xplrm2 {
    position: absolute;
    left: 8px;
    top: 220px;
    height: 220px;
    width: 30%;
    padding: 5px 0px !important;
  }
  .choice-xplrm .xplrm1 .xplrm-icon i {
    margin-bottom: 0px;
  }
  .choice-xplrm .xplrm2 .xplrm-icon i {
    margin-bottom: 0px;
  }
  .choice-xplrm .xplrm3 .xplrm-icon i {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 550px) {
  .testimonials-head h1 {
    font-size: 1.5em;
  }
  .testimonials .client-box p {
    font-size: 1em;
  }
}
@media screen and (max-width: 650px) {
  .footer-item {
    padding: 0 0 20px 30px !important;
  }
  .copyright-dec {
    padding-left: 30px !important;
  }
  .copyright-social {
    padding-right: 20px !important;
  }
  .choice-xplrm .contain {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 200px 0;
  }

  .banner-contain h1 {
    font-size: 2.8em;
  }

  .course-head h1 {
    font-size: 1.375em;
  }

  .course-category .btn {
    margin: 0 10px 10px 0;
  }

  .provider-contain {
    width: 50%;
    position: absolute;
    top: 40%;
    left: 140px;
  }
  .provider-dec {
    padding: 5px 10px !important;
  }
  .provider-dec p {
    font-size: 12px;
  }
  .provider-dec h1 {
    font-size: 16px;
  }
  .provider-dec button {
    font-size: 12px;
  }
}
@media screen and (min-device-width: 750px) and (max-device-width: 858px) {
  .choice-xplrm .xplrm1 {
    left: 70px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 70px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 70px;
    top: 470px;
  }
}

@media screen and (max-width: 999px) {
  .navbar {
    padding: 0px 20px;
  }
  .navbar-nav .dropdown-menu {
    margin-bottom: 10px;
  }
  .navbar-btn {
    margin: 5px 0;
  }
  .navbar-collapse {
    margin-top: 15px;
    background: #fafafa !important;
  }
  .search-box {
    background-color: #016b6f;
  }

  .provider-dec {
    padding: 10px 30px !important;
  }

  .provider-dec p {
    font-size: 18px;
  }
  .provider-dec button {
    font-size: 16px;
  }

  .choice-xplrm .contain h1 {
    font-size: 20px;
  }

  .choice-xplrm .contain p {
    font-size: 14px;
  }
  .choice-xplrm .contain h1::after {
    width: 120px;
  }
  .choice-xplrm .contain {
    padding: 150px 30px !important;
  }
}

@media screen and (max-width: 1000px) {
  .provider-dec p {
    font-size: 18px;
  }
  .provider-dec button {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  .provider-dec p {
    font-size: 18px;
  }
  .provider-dec button {
    font-size: 16px;
  }
}
@media screen and (max-width: 1250px) {
  .provider-dec p {
    font-size: 18px;
  }
  .provider-dec button {
    font-size: 16px;
  }
}
@media screen and (min-device-width: 450px) and (max-device-width: 599px) {
  .choice-xplrm .xplrm1 {
    left: 1px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 1px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 1px;
    top: 470px;
  }
}
@media screen and (min-device-width: 600px) and (max-device-width: 749px) {
  .choice-xplrm .xplrm1 {
    left: 40px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 40px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 40px;
    top: 470px;
  }
}
@media screen and (min-device-width: 850px) and (max-device-width: 999px) {
  .choice-xplrm .xplrm1 {
    left: 115px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 115px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 115px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1000px) and (max-device-width: 1150px) {
  .choice-xplrm .xplrm1 {
    left: 140px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 140px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 140px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1151px) and (max-device-width: 1250px) {
  .choice-xplrm .xplrm1 {
    left: 155px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 155px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 155px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1251px) and (max-device-width: 1400px) {
  .choice-xplrm .xplrm1 {
    left: 205px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 205px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 205px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1401px) and (max-device-width: 1550px) {
  .choice-xplrm .xplrm1 {
    left: 230px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 230px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 230px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1551px) and (max-device-width: 1650px) {
  .choice-xplrm .xplrm1 {
    left: 270px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 270px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 270px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1651px) and (max-device-width: 1750px) {
  .choice-xplrm .xplrm1 {
    left: 300px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 300px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 300px;
    top: 470px;
  }
}

@media screen and (min-device-width: 1751px) and (max-device-width: 1900px) {
  .choice-xplrm .xplrm1 {
    left: 335px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 335px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 335px;
    top: 470px;
  }
}
@media screen and (min-device-width: 1901px) and (max-device-width: 2050px) {
  .choice-xplrm .xplrm1 {
    left: 370px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 370px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 370px;
    top: 470px;
  }
}
@media screen and (min-device-width: 2051px) and (max-device-width: 2200px) {
  .choice-xplrm .xplrm1 {
    left: 410px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 410px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 410px;
    top: 470px;
  }
}

@media screen and (min-device-width: 2201px) and (max-device-width: 2400px) {
  .choice-xplrm .xplrm1 {
    left: 460px;
    top: -30px;
  }
  .choice-xplrm .xplrm2 {
    left: 460px;
    top: 220px;
  }
  .choice-xplrm .xplrm3 {
    left: 460px;
    top: 470px;
  }
}

/*-- //Responsive-Code --*/
